.home{
    padding: 50px 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: flex-start;
}

.profession{
    color: rgba(100, 100, 100, 1);
    text-transform: uppercase;
}

.name{
    margin-top: 1rem;
    font-size: 4rem;
}

.welcome{
    font-family: 'Lato', sans-serif;
    color: rgba(100, 100, 100, 1);
    font-size: 1rem;
}

.img{
    margin-right: 0;
    width:370px;
    height:465px;
    color: #3F593D;
    background-image: url("../../assets/ProfilePictureLines.png");
    background-size: cover;
    background-position: center;
    border: 2px solid #3F593D;
    box-sizing: border-box;
    border-radius: 140px 0px;
}
.button{
    margin:20px 0;
    width:130px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background: rgba(8, 52, 137, 0.82);
    border-radius: 15px 0px;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.button:hover{
    background: rgba(9, 41, 105, 0.82);
}

@media (max-width: 1023px){
    .home{
        flex-direction: column;
        align-items: center;
        padding: 70px 25px 20px;
    }
    .name{
        font-size: 2rem;
    }
    .img{
        display: none;
    }
    .imgMobile{
        margin-right: 0;
        width:50%;
        height:176px;
        color: #3F593D;
        background-image: url("../../assets/ProfilePictureLines.png");
        background-size: cover;
        background-position: center;
        border: 1px solid #3F593D;
        box-sizing: border-box;
        border-radius: 43px 0px;
        align-self: center;
    }
    .button{
        align-self: center;
    }
}