.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 50px 140px;
    min-height: calc(100vh - 191.2px);
}
.componentTitle{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 30px;
    justify-items: start;
    align-items: center;
    grid-row-gap: 20px;
    row-gap: 20px;
}
.icon{
    width:35px;
}
.link{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: rgba(100, 100, 100, 1);
    font-size: 1rem;
}