.header{
    padding:20px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #d9d9d980;

}
.name{
    color: rgba(100, 100, 100, 1);
    cursor: pointer;

}
.menu{
    display:flex;
    align-items: center;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.item{
    margin-left: 30px;
    font-weight: 600;
    cursor: pointer;
}
.button{
    width:130px;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background: rgba(203, 122, 63, 0.59);
    border-radius: 15px 0px;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}