.header{
    padding:10px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #d9d9d980;
}
.name{
    color: rgba(100, 100, 100, 1);
    cursor: pointer;
}
.menu{
    display:flex;
    align-items: center;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.item{
    margin-left: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #212121;
}
.item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .item:hover:after { 
    width: 100%; 
    left: 0; 
  }

.button{
    width:130px;
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background: rgba(203, 122, 63, 0.59);
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    border-radius: 15px 0px;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.button:hover{
    background: rgba(189, 113, 59, 0.705);
}
.selected:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%; 
    left: 0; 
}