.header{
    padding:10px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #d9d9d980;
    position: relative;
}
.name{
    color: rgba(100, 100, 100, 1);
    cursor: pointer;
}
.menu{
    display:flex;
    align-items: center;
}
.list{
    list-style: none;
    display: flex;
    align-items: center; 
}
.item{
    margin-left: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #212121;
}
.item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .item:hover:after { 
    width: 100%; 
    left: 0; 
  }

.itemButton{
    display: block;
    text-align: center;
    width:130px;
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background: rgba(203, 122, 63, 0.59);
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    border-radius: 15px 0px;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.itemButton::after{display: none;}
.itemButton:hover{
    background: rgba(189, 113, 59, 0.705);
}
.selected:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%; 
    left: 0; 
}

.toggleButton {
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: rgba(100, 100, 100, 1);
    border-radius: 10px;
}

@media (max-width:1000px){
    .header{
        padding: 10px 50px;
    }
}

@media (max-width:800px){
    .header{
        width:100vw;
        background-color: #eeeeee;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        z-index: 99;
    }
    .name{
        padding: 10px 50px;
    }

    .selected:after{
        display: none;
    }
    .toggleButton {
        display: flex;
    }

    .menu {
        display: none;
        width: 100%;
    }

    .list {
        margin:0;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    .list li{
        width: 100%;
        border-bottom: solid rgba(100, 100, 100, 1) 1px;       
    }
    .list li:first-of-type{
        border-top: solid rgba(100, 100, 100, 1) 1px;  
    }
    .item{
        margin:0;
        padding: 30px 0;
        text-align: center;
        display: block;
    }
    .menu.active {
        display: flex;
    }
}
