.project{
    display: flex;
    min-height: 400px;
    width: 100%;
    margin-bottom: 100px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 140px 0px;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.projectDescription{
    flex-basis: 40%;
}

.projectTitle{
    font-weight: 600;
    text-transform: uppercase;
}

.projectDetails{
    font-family: 'Lato', sans-serif;
    color: rgba(100, 100, 100, 1);
    line-height: 24px;
}
.list{
    padding: 0 0 0 20px;
}
.imageContainer{
    flex-basis: 50%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.imageContainer.imageContainerMobile{
    display: none;
}
.image{
    position:absolute;
    top:50%;
    width:80%;
    transform: translateY(-50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.backgroundImage{
    position:absolute;
    width:80%;
    top:50%;
    width:80%;
    transform:translateY(-50%) rotate(-170deg);
}
.buttonsContainer{
    margin-top: 35px;
}
.button{
    display: inline-block;
    border: none;
    width:140px;
    background-color: #EFE1D9;
    font-family: 'Montserrat', sans-serif;
    color: rgba(61, 61, 61, 1);
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.button:first-of-type{
    border-radius: 15px 0 0 0;
}
.button:last-of-type{
    margin-left: 2px;
    border-radius: 0 0 15px 0;
}
.button:hover{
    background-color: #e7c9b7;
}
@media (max-width: 1023px){
    .project{
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 70px 0;
    }
    .projectTitle{
        text-align: center;
    }
    .imageContainer{
        display: none;
    }
    .imageContainer.imageContainerMobile{
        display:flex;
    }
    .imageMobile{
        width:90%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .projectDescription{
        flex-basis: 100%;
    }
    .button{
        width:45%;
    }
}